# {{ ansible_managed }}

SMARTHOST {{ rl_dma_smarthost }}
{% if rl_dma_port is defined %}
PORT {{ rl_dma_port }}
{% endif %}
{% if rl_dma_securetransfer is defined %}
SECURETRANSFER
{% endif %}
{% if rl_dma_user is defined or rl_dma_password is defined %}
AUTHPATH {{ rl_dma_auth }}
{% endif %}
{% if rl_dma_starttls is defined %}
STARTTLS
{% endif %}
MAILNAME {{ rl_dma_mailname | default(ansible_nodename) }}
{% if rl_dma_insecure is defined %}
INSECURE
{% endif %}
{% if rl_dma_masquerade is defined %}
MASQUERADE {{ rl_dma_masquerade }}
{% endif %}
{% if rl_dma_aliases is defined %}
# Path to your alias file.  Just stay with the default.
ALIASES /etc/aliases
{% endif %}
